@import "../../assetc/styles/main.scss";

@mixin infoStyle {
  margin-top: 25px;
  font-size: 25px;
  font-family: "Oleo Script Swash Caps", serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background: $backgroundColor;
}

.startBtn {
  margin-bottom: 25px;
  font-size: 20px;
  font-family: "Oleo Script Swash Caps", serif;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: $buttonColor;
  border-color: $buttoStartColor1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 0px 2px $buttoStartColor2;
  text-shadow: 0px 1px 0px $buttoStartColor3;
  background: linear-gradient($buttoStartColor4, $boardColor);
}

.startBtn:hover {
  background: linear-gradient($boardColor, $buttoStartColor4);
}

.info {
  @include infoStyle;
  color: $buttonColor;
}

.infoWinner {
  @include infoStyle;
  color: $buttoStartColor1;
}
